 body { 
 	background: #FFFFFF !important;
 	font-family: 'Roboto', sans-serif !important; 
 	color: #494949 !important;
 }

 .navbar-default {
 	background-color: #83EDD9 !important;
 	color: #494949 !important;
 }


.btn-default {
	margin-top: 7px !important;
	margin-left: 5px !important;
}