/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

 /* Styles to override Bootstrap START */
 
 body { 
 	background: #FFFFFF !important;
 	font-family: 'Roboto', sans-serif !important; 
 	color: #494949 !important;
 }

 .navbar-custom {
 	background-color: #83EDD9 !important;
 }

 .navbar .nav li a {
    color: #494949 !important;
}

.navbar-header a {
	color: #494949 !important;
}

.btn-default {
	margin-top: 7px !important;
	margin-left: 5px !important;
}

/* Styles to override Bootstrap END */

.login-btn {
	display: none;
}

.logout-btn {
	display: none;
}

.jamie {
	margin-top: 100px;
}